@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
@import url("https://use.typekit.net/zwa6ooa.css");
ul {
    text-align: right;
    padding: 10px 30px;
    
}
ul li {
    list-style: none;
    display: inline-block;
    padding: 1px;
    
}
ul li:hover {
    
}
ul li a {
    text-decoration: none;
    padding: 5px;
    font-size: 14px;
    color:black;
    font-family: 'Roboto', sans-serif;
}
#title{
    font-family: merriweather, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px;
    
}
#footer_page{
    height: 142px;
    background-color: #F5F5F5;
}
#footer_menu a {
    color : #544B44;
    font-size: 14px;
}

#footer_page p{
    font-family: merriweather, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}
.index_title h1{
    font-family: merriweather, serif;
    font-weight: 550;
    font-style: normal;
    font-size: 48px;
}
.index_title p{
    text-align: center;
}
.container_single h2{
    font-family: merriweather, serif;
    font-weight: 550;
    font-style: normal;
    font-size: 48px;
}
.container_single #category{
    background-color: #283A61;
    color:#FFFFFF;
    text-align: center;
    border-radius: 5%;
    padding-left: 0;
}
.container_single .container_category{
    padding-left: 0;
    
}
.container_single #date{
    font-family: merriweather, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    
}
.container_single figure img{
    width: 100%;
    height: auto;
    
}
.container_single #avatar{
    border-radius: 50%;
    width: 40px;
}
.container_single #card-avatar p{
    display: inline;
    font-family: merriweather, serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}
.container_single figure img{
    border-radius: 25px;
    box-shadow: 10px 5px 5px black;
}

